docker/**/*
/workspace/aws-project-cruddur/frontend-react-js/.env
psycopg2-layer
.env
frontend-react-js/build/*
/thumbing-serverless-cdk/node_modules/
/aws/lambdas/process-images/node_modules/
aws_resources.json